<!-- Footer -->
<footer class="site-footer">
    <div class="row">
      <div class="col-md-6">
        <p class="text-center text-md-left">Copyright © 2019 Designed By<a href="#"> Zeyd</a>. All rights reserved.</p>
      </div>

      <div class="col-md-6">
        <ul class="nav nav-primary nav-dotted nav-dot-separated justify-content-center justify-content-md-end">
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
         
        </ul>
      </div>
    </div>
  </footer>
  <!-- END Footer -->

<!-- Scripts -->
<script src="js/core.min.js"></script>
<script src="js/app.min.js"></script>
<script src="js/script.min.js"></script>

</body>
</html>
