<header class="topbar">
        <div class="topbar-left">
        
           
  
          <div class="topbar-divider d-none d-md-block"></div>
  
          <div class="lookup d-none d-md-block topbar-search" id="theadmin-search">
            <span class="twitter-typeahead" style="position: relative; display: inline-block;"><input class="form-control w-300px tt-hint" type="text" readonly="" autocomplete="off" spellcheck="false" tabindex="-1" style="position: absolute; top: 0px; left: 0px; border-color: transparent; box-shadow: none; opacity: 1; background: none 0% 0% / auto repeat scroll padding-box padding-box rgba(0, 0, 0, 0);" dir="ltr"><input class="form-control w-300px tt-input" type="text" autocomplete="off" spellcheck="false" dir="auto" style="position: relative; vertical-align: top; background-color: transparent;"><pre aria-hidden="true" style="position: absolute; visibility: hidden; white-space: pre; font-family: Roboto, sans-serif; font-size: 15px; font-style: normal; font-variant: normal; font-weight: 300; word-spacing: 0px; letter-spacing: 0.5px; text-indent: 0px; text-rendering: auto; text-transform: none;"></pre><div class="tt-menu" style="position: absolute; top: 100%; left: 0px; z-index: 100; display: none;"><div class="tt-dataset tt-dataset-theadmin-components"></div></div></span>
            <div class="lookup-placeholder">
              <i class="ti-search"></i>
              <span style="opacity: 1;"><strong>Find</strong> posts</span>
            </div>
          </div>
        </div>
  
        <div class="topbar-right">

  
          <div class="topbar-divider"></div>
  
          <ul class="topbar-btns">
            <li class="dropdown">
              <span class="topbar-btn" data-toggle="dropdown"><img class="avatar" src="../assets/img/avatar/1.jpg" alt="..."></span>
              <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="/profile"><i class="ti-user"></i> Profile</a>
               
                <a class="dropdown-item" href="#"><i class="ti-settings"></i> Settings</a>
                <div class="dropdown-divider"></div>
          
                <a class="dropdown-item" href="../page-extra/user-login-3.html"><i class="ti-power-off"></i> Logout</a>
              </div>
            </li>
  
            <!-- Notifications -->
            <li class="dropdown d-none d-md-block">
              <span class="topbar-btn has-new" data-toggle="dropdown"><i class="ti-bell"></i></span>
           
            </li>
            <!-- END Notifications -->
  
            <!-- Messages -->
            <li class="dropdown d-none d-md-block">
              <span class="topbar-btn" data-toggle="dropdown"><i class="ti-email"></i></span>
              
            </li>
            <!-- END Messages -->
  
          </ul>
  
          <div class="topbar-divider"></div>
  
  
        </div>
      </header>